<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
</head>
<body>
<table>
    <tr>
        <td>
            <h1>Welcome!</h1>
            <p>Hi {{userName}},</p>
            <p>Thank you for signing up. We are excited to have you on board!</p>
        </td>
    </tr>
</table>
</body>
</html>
